button {
    width:70px;
    height:70px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    background-color: gold;
    width: auto;
    height: auto;
    width: 21%
    }
#display, #display1 {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    width: 99%;
    height: 80px;
    background-color: ivory;
    border: solid black 3px;
    margin: 3px;
}
#display_number{
    font-size: 3em;
}
.number{
    flex-grow: 1;
    background-color: palegreen;
}

#bottom{
   display: inline;
   
}
.symbol{
    flex-grow: 1;
    background-color: orange;
}
.reset_clear{
    flex-grow: 1;
    background-color: orangered;
}

