body
	{
	background-image: url(https://media.redbullmusicacademy.com/assets/guitar-pedals2.93aa92eb.jpg?auto=format&w=1280);
	width: 100%; 
	height: auto;
	background-repeat: no-repeat;
	}
	
	.col-sm{background-color:lightgray;
	}

	