<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        {{ page_title|default:"List of People" }}
        {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    {% block content %}
    <ul>
        {% for person in people|dictsort:'name' %}
        <li><a href="{% url 'id_page' person.id %}">{{ person }}</a></li>
        {% endfor %}
    </ul>
    {% endblock content %}


</body>

</html>