li{display: inline;
 }

nav{ background-color: black;
	   color: white;
	   text-align: right;
	   font-size: 25px; 
	   padding: 5px;
    }

*{box-sizing: border-box;
}

  .row{
  	display: flex;
  }
  

  .column{
  	flex: 33.33%;
  	padding: 5px;}

p{font-size: .0.8cm;font-family: "Times" ;
}

body{background-color: orange;
}

h1{font-size: 1cm;
   font-family: "Times New Roman"}

