li {
	display:inline;
}

body{background-image: url('https://lh3.googleusercontent.com/proxy/j4YlVt3OmLXA-o1AWzijoiRjsHKx3R7w-XN4ubgL-q-gzfg5kxoR_WZ2-VsIzKTr3Qi2-gV9qtEEZRaYvCwqfzz95ipol-LcYseM1l1QIYhQ0V1WPyGQTJymlw');
background-repeat;}

#content{text-align: center;
 margin-top: 250px; 
 color: white; 
 font-size: 2em;
 font-family:sans-serif;}"

 #button{border-radius: 30px}